[user]
	name = Tim Chambers
	email = tbc@alum.mit.edu
[push]
	default = simple
[core]
	pager = cat
	sparseCheckout
[log]
	abbrevCommit = True
[format]
	pretty = oneline
[gui]
	encoding = utf-8
[man]
	viewer = catman
[man "catman"]
	cmd = man -P cat
[color]
	diff = always
