.abbrev_defs
.ansible.cfg
.ansible/
.aptitude/
.asunder*
.audacity
.audacity-data/
.bash_history
.cache/
.compiz/
.config/
.cups/
.dbus/
.devilspie/
.dmrc
.dropbox-dist/
.dropbox/
.emacs
.emacs.d/
.evernote-mode*
.gconf/
.gimp-2.8/
.git-remote-dropbox.json
.gnome/
.gnome2/
.gnome2_private/
.gnucash/
.gnupg/
.gnupg/random_seed
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.hplip/
.ICEauthority
.java/
.java/fonts/
.kde/
.kdiff3rc
.keychain/
.lesshst
.linuxcounter/
.linuxcounter/localhost
.local/
.mozilla/
.mp3rename
.netrc
.netsurf/
.openoffice.org/
.pdfedit/
.pearrc
.perltidyrc
.pinerc
.pki/
.purple/
.python-eggs/
.python_history
.quicksynergy/
.realplayerrc
.recently-used
.serpentine/
.ssh/
.thumbnails/
.thunderbird
.thunderbird/
.vboxclient*
.vmware/
.w3m/
.webcamrc
.wgetrc
.wireshark/
.Xauthority
.xchat2/
.Xdefaults
.xscreensaver
.xsession-errors*
43folders*
Desktop/
Downloads/
Dropbox/
emacs/
en.prepl
en.pws
images/
lib/
movies/
Music/
old/
perl/
personal/
personal/resume*.pdf
Pictures/
records/
sav/
scripts/
src/
Templates/
tmp/
txt/
video/
vzdor/
vzdor/letters/*.pdf
workspace/
xfr/
year/
